/* @font-face {
font-family: "Manrope-Bold"
src: url("../fonts/Manrope-Bold.ttf")
format("truetype");
font-family: "Manrope-Regular"
src: url("../fonts/Manrope-Regular.ttf")
format("truetype");
font-family: "PragatiNarrow-Regular",
src: url("../fonts/PragatiNarrow-Regular.ttf")
format("truetype");
} */

@font-face {
font-family: "Manrope-Bold";

src: url("../fonts/Manrope-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope-ExtraBold";

  src: url("/fonts/web/Manrope-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope-Regular";

  src: url("/fonts/web/Manrope-Regular.woff2") format("woff2");
}
