@font-face {
font-family: "Manrope-Bold"
src: url("../fonts/Manrope-Bold.ttf")
format("truetype");
font-family: "Manrope-Regular"
src: url("../fonts/Manrope-Regular.ttf")
format("truetype");
font-family: "PragatiNarrow-Regular",
src: url("../fonts/PragatiNarrow-Regular.ttf")
format("truetype");
}
