/* @font-face {
font-family: "Manrope-Bold"
src: url("../fonts/Manrope-Bold.ttf")
format("truetype");
font-family: "Manrope-Regular"
src: url("../fonts/Manrope-Regular.ttf")
format("truetype");
font-family: "PragatiNarrow-Regular",
src: url("../fonts/PragatiNarrow-Regular.ttf")
format("truetype");
} */

@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/Manrope-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;

  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2");
}
